<!DOCTYPE html>
<html lang='en'>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" type="image/png" sizes="32x32" href="/src/img/global/icons/favicon-32x32.png" >
    <link rel="icon" type="image/png" sizes="16x16" href="/src/img/global/icons/favicon-16x16.png" >
    <link rel="icon" sizes="48x48" href="/src/img/global/icons/favicon.ico" >
  </head>
  <body>
    <div>
      <h1><%= htmlWebpackPlugin.options.title %></h1>

      <div id="app"></div>
    </div>
  </body>
</html>
